html{ /*raiz*/
    font-family: Arial; /*config herdável, vai para todo a pág*/
    background-color: rgb(190, 218, 226); /*não é herdável*/
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: row; /*dimensão será do conteúdo da linha*/
    justify-content: center;
}

.app { /*filho - herda as config do body*/
    background-color: #fff;
    padding: 8px;
    width: 80vh;
}

.campos {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.ocultar {
    display: none;
}

button {
    font-size: 1.1rem; /*1,3x o tamanho da fonte raiz de pág*/
    color: white;
    border-radius: 5px;
    background: rgb(79, 79, 228);
}

h1,
h2,
table,
button,
label {
    margin: 4px;
}

h1 {
    font-size: 1.3rem;
    margin-top: 14px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 10px;
}

h1,
h2,
th {
    color: rgb(26, 159, 177);
    font-weight: bolder;
    text-align: center;
}

label {
    display: inline-block;
    color: darkblue;
}

input {
    display: block;
    font-size: 1rem;
    border-width: 1px;
    border-radius: 5px;
    color: rgb(118, 118, 196);
    font-weight: 600;
}

table {
    padding-left: 0px;
    width: 80vh;
    
}

th {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    border-bottom: solid rgb(199, 219, 221);
}

td {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    color: darkblue;
    font-weight: 600;
}

tr:nth-child(even) {
    background: rgb(199, 219, 221);
}